span {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 2px;
    transition-duration: 0.2s;
    cursor: pointer;
}

span:hover{
    color:rgb(0, 0, 0);
}

li{
    transition-duration: 0.2s;
}

li:hover{
    transform: scale(1.2);
}