.Navbar{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position:fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.648);
    backdrop-filter: blur(10px);
    z-index: 20000;
    height: 50px;
}

.LogoInicio{
    height: 25px;
    width: 25px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.LogoInicio:hover{
    transform: scale(1.2);
}
