ul {
    list-style-type: none;
    display:flex;
    flex-direction: row;
    align-items: center;
}

li{
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
    list-style-type: none;
}